@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --primary: #4d91fe;
    --grey: #f7f7f7;
    --white: #ffffff;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.u-textCenter{
    text-align: center;
}

.navContainer{
    background-color: var(--primary);
    padding: var(--s) var(--m);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appContainer{
    max-width: 960px;
    padding: var(--m) var(--m);
    margin: auto;
}

.avatarContainer{
    padding: 0 35%;
}

.navTitle{
    color: var(--white);
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}


.name{
    font-size: 2.4em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.subTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content{
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.u-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    flex-grow: 1;
    flex-basis: 0;
}

.subContainer + .subContainer{
    margin-top: var(--m);
}